[submodule "pack/colorscheme/start/one"]
	path = pack/colorscheme/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "pack/colorscheme/start/nord"]
	path = pack/colorscheme/start/nord
	url = https://github.com/nordtheme/vim
[submodule "pack/colorscheme/start/catppuccin"]
	path = pack/colorscheme/start/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/plugins/start/sneak"]
	path = pack/plugins/start/sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "pack/plugins/start/dispatch"]
	path = pack/plugins/start/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/plugins/start/lsp"]
	path = pack/plugins/start/lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/plugins/start/lsp-settings"]
	path = pack/plugins/start/lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/plugins/start/asyncomplete"]
	path = pack/plugins/start/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/plugins/start/asyncomplete-lsp"]
	path = pack/plugins/start/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/plugins/start/copilot"]
	path = pack/plugins/start/copilot
	url = https://github.com/github/copilot.vim
[submodule "pack/plugins/start/unite"]
	path = pack/plugins/start/unite
	url = https://github.com/Shougo/unite.vim
