[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/plugins/start/visual-multi"]
	path = pack/plugins/start/visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/colorscheme/start/one"]
	path = pack/colorscheme/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "pack/colorscheme/start/nord"]
	path = pack/colorscheme/start/nord
	url = https://github.com/nordtheme/vim
[submodule "pack/colorscheme/start/catppuccin"]
	path = pack/colorscheme/start/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule "pack/plugins/start/sneak"]
	path = pack/plugins/start/sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
